
/* header */
@mixin flex { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap
}
body{
  background-color: RGB(250,250,251);
  font-family: 'Tajawal', sans-serif;
  font-weight: 500;
}
.all-container{
  background-image: linear-gradient(to right, RGB(4,183,180),RGB(3,133,166), RGB(2,77,151));
  padding: 20px{
    bottom: 100px;
  }
  h1{
    color: white;
    margin: auto{
      top: 10px;
      bottom: 20px;
    }
  }
}
.header{
   @include flex;
   margin: auto;
   .col-container{
    margin: 10px;
   }
   .row{
    margin: auto;
    justify-content: center;
   }
  .btn-container{
    background-color: white;
    @include flex;
    width: 100%;
    height: 65px;
    border: 0;
    border-radius: 16px;
  
    .check-container{
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      .fa-solid, .fas {
        font-size: 23px;
      }
      align-items: baseline;
      padding-top: 14px;
      font-size: 17px;
      .ant-checkbox+span{
        display: contents;
      }
    }
  }
  
}
// ////////////////  Form ///////////////////////////////////////////
.form-container{
  position: relative;
  top: -70px;
  direction: rtl;
  width: 95%;
  border-radius: 30px;
  padding: 20px;
  margin:auto{
   bottom: 100px;
  }
  background-color: white;
  .form{
    width: 90%;
    margin: auto;
  }
  h2{
    margin: 30px;
  }
  .ant-form-item-label >label{
    font-size: 20px;
    padding: 8px;
  }
  .form-input{
    width: 70%;
    font-size: 18px;
    padding: 8px;
    float: left;
  }
  .form-select{
    width: 70%;
    font-size: 15px;
    float: left;
    color: RGB(3,133,166);
  }
  .notes-container{
    background-color: RGB(242,250,255);
    .select-container{
      display: flex;
      justify-content: space-between;
      padding:30px 10px 20px 30px
    }
    
  }
  .btn{
    background-image: linear-gradient(to top, RGB(2,77,151) , RGB(4,183,180));
    color: white;
    margin: auto {
      bottom: 20px;
      top: 30px;
    }
    width: 256px;
    height: 60px;
    display: block;
    font-size: 24px;
    border-radius: 10px;
  }
  
}

@media (min-width: 576px) {
  .container {
		width: 520px;
		margin: 0 auto;
	}
  
 }
@media (min-width: 768px) {
  .container {
		width: 720px;
	}
}
@media (min-width: 992px) { 
  .container {
		width: 940px;
	}
 
}
@media (min-width: 1200px) { 
  .container {
		width: 1140px;
	}
}
@media (min-width: 1400px) {
  .container {
		width: 1340px;
	}
 }
